<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poly.final_project">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoviesActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".TransportActivity" />
        <activity android:name=".ClinicActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".MovieFavorite" />
        <activity android:name=".MovieDetails" />


    </application>

</manifest>